{% extends 'homesale/base.html'%}

{% load i18n %}

{% block title %}
    {% translate 'About us' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'About us' %}</h1>
    <br>
    <div>
        <h3>{% translate 'Home Sale team welcomes you!' %}</h3>
        <p>{% translate 'We are a young growing team that will help you find the best property to buy!' %}</p>
    </div>
    <br>
    <div>
        <a href="{% url 'homesale:main' %}"
        >{% translate 'Back to main page' %}</a>
    </div>
{% endblock %}
