{% extends 'homesale/base.html'%}

{% load i18n %}

{% block title %}
    {% translate 'Contacts' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Contacts' %}</h1>
    <br>
    <div>
        {% blocktranslate %}
            <h3>You can contact us by:</h3>
            <p>Telephone: {{ phone_num }}</p>
            <p>E-mail: {{ email }}</p>
        {% endblocktranslate %}
    </div>
    <br>
    <div>
        <a href="{% url 'homesale:main' %}"
        >{% translate 'Back to main page' %}</a>
    </div>
{% endblock %}
