{% extends 'homesale/base.html'%}

{% load cache %}
{% load i18n %}

{% block title %}
  {% translate 'Homes list' %}
{% endblock %}

{% cache 500 footer %}
    {% block body %}
      <h1>{% translate 'Homes' %}</h1>
        {% for home in object_list %}
            <div>
                <p>{% translate 'Name' %}: {{ home.name }}</p>
                <p>{% translate 'Address' %}: {{ home.address }}</p>
                <p>{% translate 'Square feet' %}: {{ home.square_feet }}</p>
                <p>{% translate 'Price' %}: {{ home.price }}</p>
                <p>{% translate 'Type' %}: {{ home.type }}</p>
                <p>{% translate 'Rooms amount' %}: {{ home.rooms_amount }}</p>
                <p>{% translate 'Description' %}: {{ home.description|truncatechars:300 }}</p>
                <br>
            </div>
        {% endfor %}
        <br>
        <div>
            <a href="{% url 'homesale:main' %}"
            >{% translate 'Back to main page' %}</a>
        </div>
    {% endblock %}
{% endcache %}
