{% extends 'homesale/base.html'%}

{% load i18n %}

{% block title %}
    {% translate 'Home for Sale' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Home for Sale' %}</h1>
    <br>
    <div>
        <p>{% translate 'Welcome! We help you find home for sale!' %}</p>
        <p>{% translate 'Let`s start! You can visit any web page from the list below' %}:</p>
    </div>
    <br>
    <div>
        <a href="{% url 'homesale:about' %}"
        >{% translate 'About us' %}</a>
    </div>
    <div>
        <a href="{% url 'homesale:contacts' %}"
        >{% translate 'Contact us' %}</a>
    </div>
    <div>
        <a href="{% url 'homesale:homes' %}"
        >{% translate 'List of homes' %}</a>
    </div>
    <div>
        <a href="{% url 'homesale:news' %}"
        >{% translate 'News' %}</a>
    </div>
{% endblock %}
