{% extends 'homesale/base.html'%}

{% load i18n %}

{% block title %}
  {% translate 'News list' %}
{% endblock %}

{% block body %}
  <h1>{% translate 'News' %}:</h1>
    {% for item in news %}
        <div>
            <p><a href="{% url 'homesale:news-item' pk=item.pk %}"
            >{% translate 'Details' %} # {{ item.pk }}</a></p>
            <h3>{{ item.title }}</h3>
            <p>{{ item.text|truncatechars:300 }}</p>
            <p>{% translate 'Description' %}: {{ item.descriptions|truncatechars:300 }}</p>
            <p>{% translate 'Published at' %}: {{ item.published_at }}</p>
            <br>
        </div>
    {% endfor %}
    <br>
    <div>
        <a href="{% url 'homesale:main' %}"
        >{% translate 'Back to main page' %}</a>
    </div>
{% endblock %}
