{% extends 'shopapp/base.html'%}

{% load i18n %}

{% block title %}
    {% translate 'Shop Index' %}
{% endblock %}

{% block body %}

    <h1>{% translate 'Hello, Shop Index' %}!</h1>

    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name|capfirst }} ({{ name|wordcount }}) for ${{ price }}</li>
                {% if price|get_digit:'1' == 9 %}
                    <span>{% translate 'Best price' %}!</span>
                {% endif %}
            {% empty %}
                {% translate 'No products here' %}
            {% endfor %}
        </ul>
    </div>
    <div>
    <strong>
        You have {{ items }} cherr{{ items|pluralize:"y,ies" }}
    </strong>
    </div>
    <div>
        {% now 'd-m-Y H:i:s e' as now_date %}
        {% now 'd-m-Y H:i:s e' as my_lorem %}
        {% blocktranslate %}
            <div>
                Time running: {{ time_running }}
            </div>

            <div>
                {{ my_lorem }}
            </div>

            <div>
                Current datetime: {{ now_date }}
            </div>
        {% endblocktranslate %}
    </div>

{% endblock %}
