{% extends 'myauth/base.html'%}

{% block title %}
    Update user profile
{% endblock %}

{% block body %}
    <h1>Update user profile</h1>
    <div>User for update pk - name: {{ object.user.pk }} - {{ object.user.username }}</div>
    <div>User from users list pk: {{ object.pk }}</div>
    <div>User authenticated: {{ user.id }}</div>
    <div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    </div>

    <div>
        <a href="{% url 'myauth:user_details' pk=object.pk %}"
        >Back to user profile {{ object.pk }}</a>
    </div>
{% endblock %}
